---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Jamie Taylor" description="About Jamie Taylor">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Want to know more about me? Read below."
			>
				<img
					width="1553"
					height="873"
					src="/assets/about_photo.jpg"
					alt="Jamie at his desk"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						I'm a Freelance Web Developer, Podcaster, and Podcast Producer based in Nottingham, UK. My diverse career background includes a BSc(Hons) in Chemistry and working as a Production Administrator and in the Civil Service before entering the tech world in 2021. As a tech nerd and radio enthusiast, I'm passionate about building high-quality web products and producing engaging podcasts.
					</p>
					<p>
						During my time at university, I produced and presented shows at LUSH Radio (now Galaxy Radio) and held various leadership roles, helping to professionalize the station's output. Outside of work, I worked as a freelance producer at BBC Radio Leicester and currently co-host a comedy podcast with my friend Jack Campbell.
					</p>
					<p>
						In 2019, I was also lucky enough to welcome my son, Cian, into the world.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>BSc<em>(Hons)</em> Chemistry, University of Leicester (2012)</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<h5>Front-end Web Dev</h5>
					<ul>
						<li>HTML</li>
						<li>CSS (including Bootstrap and Tailwind Frameworks)</li>
						<li>JavaScript</li>
						<li>Astro</li>
					</ul>
					<h5>Back-end Web Dev</h5>
					<ul>
						<li>Node.js</li>
						<li>Express</li>
						<!-- <li>MongoDB</li> -->
					</ul>
					<h5>Podcasting and Radio</h5>
						<ul>
							<li>Production, planning and writing (News, Sports and Entertainment)</li>
							<li>Audio Editing (Audacity, Adobe Audition)</li>
							<li>Video Editing (Davinci Resolve)</li>
							<li>Social & Digital</li>
							<li>Hardware and Broadcast Engineering</li>
						</ul>
					<h5>Tech</h5>
					<ul>
						<li>Custom PC building & repair</li>
						<li>Tech Support (Windows, MacOS, Active Directory, jamf, MS365)</li>
					</ul>
				</div>
			</section>
			<section>
				<h2 class ="section-title">Hobbies</h2>
				<div class="content">
					<h5>Gaming</h5>
					<ul>
						<li>World of Warcraft (Competitive raider and <a href="https://wago.io/p/Popidge#2834">WeakAura Developer</a>)</li>
						<li>Street Fighter (Former competitive player, tournament organiser and eSports broadcaster)</li>
					</ul>
					<h5>Music</h5>
					<ul>
						<li>Drumming</li>
						<li>Piano</li>
						<li>Production</li>
					</ul>
					<h5>Sports</h5>
					<ul>
						<li>Football (I support Wolverhampton Wanderers FC)</li>
						<li>Formula 1</li>
					</ul>
					<h5>TV & Film</h5>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 0;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	ul {
		margin-bottom: 1rem;
	}

	p {
		margin-bottom: 1rem;
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
