---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Frontend Design & Development</h2>
		<p>I'm a frontend developer with a good design eye. I use modern frameworks and builders to create beautiful, fast and modern sites with a focus on simplicity, clarity, readability and objectivity.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="code" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Backend engineering</h2>
		<p>I am currently developing my skills in creating backends for powerful web apps.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="microphone" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Podcaster</h2>
		<p>I've worked as a professional radio producer for the BBC, and create and produce a podcast with my good friend and professional comedian, Jack Campbell.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 54em) {
		.box {
			border-radius: 0;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
